VITE_FIREBASE_API_KEY=AIzaSyAznlmSJ1qQiZYHziQphS2zQ379WDtMpv8
VITE_FIREBASE_AUTH_DOMAIN=moisha-studyflow-ai.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=moisha-studyflow-ai
VITE_FIREBASE_STORAGE_BUCKET=moisha-studyflow-ai.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=610961243036
VITE_FIREBASE_APP_ID=1:610961243036:web:0600efcc439b546d89e659